In [1]:
import pandas as pd
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
file_path = Path("AUD_exchange_rate.csv")
df_exchange_rates = pd.read_csv(file_path)

file_path_1 = Path("cash_rate_aus_10y.csv")
df_cash_rate = pd.read_csv(file_path_1)

file_path_2 = Path("CPI_aus_10y.csv")
df_CPI = pd.read_csv(file_path_2)

file_path_3 = Path("historical_GDP_data.csv")
df_gdp = pd.read_csv(file_path_3)

file_path_4 = Path("dpie_nsw_sydney_approvals_monthly.csv")
df_gdp = pd.read_csv(file_path_4)

file_path_5 = Path("clean_suburbs_53.csv")
df_suberbs = pd.read_csv(file_path_5)

df_suberbs.head()

,year,month,suburb,medianSoldPrice,numberSold,highestSoldPrice,numberSaleListing,highestSaleListingPrice,lowestSaleListingPrice,auctionNumberAuctioned,auctionNumberSold,medianRentListingPrice
0,2011.0,8.0,Randwick,1422000.0,40.0,5450000.0,81.0,8000000.0,775000.0,32.0,20.0,950.0
1,2011.0,11.0,Randwick,1417000.0,49.0,3660000.0,97.0,6000000.0,700000.0,47.0,23.0,880.0
2,2012.0,2.0,Randwick,1520000.0,24.0,6200000.0,62.0,5850000.0,570000.0,10.0,5.0,975.0
3,2012.0,5.0,Randwick,1555000.0,44.0,3325000.0,77.0,3590000.0,570000.0,30.0,17.0,850.0
4,2012.0,8.0,Randwick,1385000.0,27.0,3050000.0,57.0,4250000.0,650000.0,19.0,11.0,825.0

# Need to clean the data, and concatinate the data frames. 
# From cash rate we need the second column. 
# DPIE we need the Grand Total. 
# AUD exhange rate will use USD which is the first column.
# Will use the sydney CPI data from the CPI df, and its the first column of data (after the date)
# Will use the percentage change in GDP, which is the third column in the dataframe

In [24]:
#df_suberbs_clean = df_suberbs.drop_duplicates(subset=['year'])
df_suberbs_clean = df_suberbs.drop_duplicates(subset=['suburb', 'year'])
df_suberbs_clean= df_suberbs_clean.iloc[:, :4]

df_suberbs_clean.head(20)

      year  month      suburb  medianSoldPrice
0   2011.0    8.0    Randwick        1422000.0
2   2012.0    2.0    Randwick        1520000.0
6   2013.0    2.0    Randwick        1525000.0
10  2014.0    2.0    Randwick        1590000.0
14  2015.0    2.0    Randwick        1820000.0
18  2016.0    2.0    Randwick        2420000.0
22  2017.0    2.0    Randwick        2270000.0
26  2018.0    2.0    Randwick        2260000.0
30  2019.0    2.0    Randwick        2325000.0
34  2020.0    2.0    Randwick        2801000.0
38  2021.0    2.0    Randwick        2818000.0
40  2011.0    8.0  Paddington        1500000.0
42  2012.0    2.0  Paddington        1300000.0
46  2013.0    2.0  Paddington        1400000.0
50  2014.0    2.0  Paddington        1800000.0
54  2015.0    2.0  Paddington        1680000.0
58  2016.0    2.0  Paddington        1900000.0
62  2017.0    2.0  Paddington        2363000.0
66  2018.0    2.0  Paddington        2550000.0
70  2019.0    2.0  Paddington        2080000.0

In [ ]:
# Define features set
X = df_loans.copy()
X.drop("Default", axis=1, inplace=True)
X.head()